.info {
  background-color: #f2f5f8;
  height: 5rem;
  width: 100vw;
  overflow: hidden;
  position: relative;

  span {
    color: #d7d9d1;
    font-size: 1.5rem;
  }
}

.info_group {
  display: flex;
  justify-content: space-between;
}

.info_group-mail {
  width: 15rem;
}

.info_group-phone {
  width: 11rem;
}

.contact-info {
  display: flex;
  width: 30rem;
  justify-content: space-between;
  position: absolute;
  left: 17rem;
  top: 1.2rem;
}

.icon-size {
  font-size: 2rem;
}
