.header {
  height: 15rem;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav {
  display: flex;
  width: 85rem;
  font-size: 1.5rem;
  font-weight: 500;
  justify-content: space-between;
  align-items: center;
  transition: color 6s ease;
}

.navItem {
  cursor: pointer;
  transition: color 0.5s ease;
  letter-spacing: 0.2rem;
  &:hover {
    color: green;
  }
}

.home {
  color: green;
}

.navLogo {
  cursor: pointer;
}
