*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html,
body {
  @media only screen and (max-width: 75em) {
    font-size: 75%;
  }

  font-size: 62.5%;

  @media only screen and (max-width: 75em) {
    font-size: 56.25%;
  }
  @media only screen and (max-width: 56.25em) {
    font-size: 50%;
  }

  width: 100vw;
  margin: 0 auto;
  padding: 0px;
  overflow-x: hidden;

  box-sizing: border-box;
  font-family: sans-serif;
}

// Utility classes

.btn {
  padding: 2rem 4.7rem;
  color: #ffffff;
  font-size: 1.5rem;
  border-radius: 0.3rem;
  background-color: #e40047;
  cursor: pointer;
  transition: all 0.4s;

  &:hover {
    background-color: #d40042;
  }
}
